body {
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    body {
        width: 95%
    }
    .column.post-date {
        padding-bottom: 0;
    }
    .column.post-title {
        padding-top: 0;
    }
}

footer {
    padding-top: 2rem;
    border-top: 2px solid grey;
}

a {
    color: #7140e0;
}

.post-content {
    padding-left: 0;
    padding-right: 0;
}