<div class="row mt-4 mb-4">
    <div class="col-10 offset-1 col-md-1 offset-md-2 p-0 border-top">
        <a href="https://twitter.com/_edjw" rel="me">Twitter</a>
        <br>
        <a href="https://github.com/edjw/edjw.github.io">Source</a>
        <br>
        <a href="/feed.xml">RSS</a>
        <br>
        <a href="/sitemap.xml">Sitemap</a>
    </div>
    <div class="col-10 offset-1 col-md-6 mt-4 mt-md-0 p-0 border-top">
        <p class="text-md-right">
            Content on this website is under a
            <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 license</a>.</p>
    </div>
</div>