<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="A simplistic blog by Ed Johnson-Williams">
	<meta name="twitter:creator" content="@_edjw">
	<title>{{ page.title }}</title>

	<link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

</head>

<body>
	<section class="section">
		<div class="container is-fluid">
			<a href="/">
				<h1 class="title">Ed Johnson-Williams</h1>
			</a>
			<section class="section post-content">
				{{ content }}
			</section>
			<footer>
				<div class="columns">
					<div class="column">
						<a href="https://twitter.com/_edjw">Twitter</a><br>
						<a href="https://github.com/edjw/edjw.github.io">Source</a>
					</div>
					<div class="column is-narrow">
						Content on this website is under a <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 license</a>.</div>
				</div>
			</footer>
		</div>
	</section>
</body>

</html>
