<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A simplistic blog by Ed Johnson-Williams">
    <meta name="twitter:creator" content="@_edjw">
{% feed_meta %}
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/js/search.js"></script>
</head>

<body>
    <section class="section">
        <div class="container is-fluid">
            <a href="/">
                <h1 class="title">Ed Johnson-Williams</h1>
            </a>
            <h2 class="subtitle">A simplistic blog</h2>
            <section class="section post-content">
                {{ content }}
            </section>
            <section class="section post-content">
                <div class="searchbox">
                    <input type="text" class="websearch_input" placeholder="Search.." id="websearch_input" disabled="true" />
                    <button class="websearch_searchButton" id="websearch_searchButton">
	<svg class="glass" width="24" height="24" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
	</svg>
	</button>
                </div>
            </section>
            <footer>
                <div class="columns">
                    <div class="column">
                        <a href="https://twitter.com/_edjw">Twitter</a><br>
                        <a href="https://github.com/edjw/edjw.github.io">Source</a><br>
                        <a href="https://edjohnsonwilliams.co.uk/feed.xml">RSS</a>
                    </div>
                    <div class="column is-narrow">
                        Content on this website is under a <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 license</a>.</div>
                </div>
            </footer>
        </div>
    </section>
</body>

</html>
