---
layout: default
---
<div class="mt-3">
  <h2 class="post-title">{{ page.title }}</h2>
</div>
<div class="mt-1">
  {% capture time %}{{ content | reading_time }}{% endcapture %}
  <h5 class="post-date">{{ page.date | date_to_string }}</h5>
  <p class="reading-time">Reading time:<span> {{ time }} {% if time == '1' %}minute{% else %}minutes{% endif %} </span></p>
</div>
<div class="header">
  <h2>Scroll Indicator</h2>
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
</div>
<div class="post-content mt-5 pt-2 border-top">
  {{ content }}
</div>
